<section class="container-fluid d-flex justify-content-center align-items-center">
  <div class="options">
    <div class="row">
      <div class="col text-center">
        <img src="assets/images/gbm-logo.png" alt="gbm logo" class="img-fluid gbm-logo" />
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12">
        <h3 class="text-center"><i>Challenges</i></h3>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <card
          [title]="'piece of Cake'"
          [description]="'Consumes a service which
          provides the history of the IPC indicator (Índice de
          Precios y Cotizaciones)'"
          [link]="'/challenges/piece-of-cake'"
          [linkText]="'Go to challenge'"
        >
        </card>
      </div>
      <div class="col d-flex justify-content-center">
        <card
          [title]="'Let\'s rock!'"
          [description]="'Create an authentication page for the level 1 website.'"
          [link]="'/challenges/lets-rock'"
          [linkText]="'Go to challenge'"
        >
        </card>
      </div>
    </div>
  </div>
</section>
