<section class="container-fluid">
  <header>
    <div class="row">
      <div class="col text-center">
        <img src="assets/images/gbm-logo.png" alt="gbm logo" class="img-fluid gbm-logo" />
      </div>
  </div>

  <div class="row pt-2">
    <div class="col text-center">
      <h3>Let's Rock Challenge</h3>
    </div>
  </div>
  </header>
  
  <div class="row justify-content-center pt-5">
    <div class="col-lg-3">
      <login-form></login-form>
    </div>
  </div>

  <footer class="pt-5">
    <div class="row">
      <div class="col text-center">
        <p>Arturo Casas</p>
      </div>
    </div>
  </footer>
  
</section>
